Dataset : https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

##1. Import the necessary libraries

In [1]:
import pandas as pd

##2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"

##3. Assign it to a variable called users and use the 'user_id' as index

In [3]:
users = pd.read_csv(url, sep="|", index_col="user_id") # Use '|' as separator

##4. See the first 25 entries

In [4]:
print(users.head(25))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

##5. See the last 10 entries

In [6]:
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

##6. Number of observations in the dataset

In [7]:
print("Number of observations:", users.shape[0]) # 0 = row = observations

Number of observations: 943

In [9]:
print("Number of observations:", len(users)) #alternative way to get row

Number of observations: 943

##7. Number of columns in the dataset

In [10]:
print("Number of observations:", users.shape[1]) # 1 = column = features

Number of observations: 4

##8. Print the name of all the columns

In [11]:
print(users.columns)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [12]:
print(list(users.columns))

['age', 'gender', 'occupation', 'zip_code']

##9. How the dataset is indexed

In [13]:
print(users.index) # Index = Labels

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

##10. Data type of each column

In [14]:
print(users.dtypes)

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [15]:
print(users.info()) #More detail

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB
None

##11. Print only the occupation column

In [16]:
print(users["occupation"])

#print(users.occupation) for without no space or special characteristic

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

##12. No. of different occupations in the dataset

In [17]:
num_occupations = users["occupation"].nunique()
print("Number of different occupations:", num_occupations)

Number of different occupations: 21

In [18]:
print(users["occupation"].unique())

['technician' 'other' 'writer' 'executive' 'administrator' 'student'
 'lawyer' 'educator' 'scientist' 'entertainment' 'programmer' 'librarian'
 'homemaker' 'artist' 'engineer' 'marketing' 'none' 'healthcare' 'retired'
 'salesman' 'doctor']

##13. Most frequent occupation

In [21]:
users["occupation"].value_counts().idxmax()

'student'

In [22]:
users["occupation"].value_counts() #no. of occurence for all occupation

occupation
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: count, dtype: int64

### Step 14. Summarize the DataFrame

In [23]:
print(users.describe())

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [26]:
users.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

##15. Summarize all the columns

In [27]:
users.describe(include="all")

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

In [24]:
print(users.describe(include="all"))

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

##16. Summarize only the occupation column

In [29]:
print(users["occupation"].describe())

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

##17. Mean age of users

In [30]:
users["age"].mean()

34.05196182396607

In [32]:
int(users["age"].mean())

34

##18. Age with least occurrence

In [33]:
users["age"].value_counts().idxmin()

7

In [36]:
least_frequent_ages = users["age"].value_counts()
min_occurrence = least_frequent_ages.min()  # Find the minimum count
least_common_ages = least_frequent_ages[least_frequent_ages == min_occurrence]  # Filter ages

print("Ages with the least occurrence:\n", least_common_ages)

Ages with the least occurrence:
 age
7     1
66    1
11    1
10    1
73    1
Name: count, dtype: int64